
.h1{
    color: brown;
   
}

table,tr,th,tbody{
    padding: 3px;
}
th{
    color: white;
    background-color: burlywood;
}
tr,tbody,th{
   
   
    color:brown;
   
}
#filter{
   
    color: brown;
    
}
.row{
    background-color: antiquewhite;
}
.container-fluid{
    background-color:coral;
}

.update{
    display: none
}
.show{
    display: block;
}